{% extends 'base.html' %} {%block title%} Random Recipe {% endblock %} {% block
content %}
<body>
  <div><h1>Enter Ingredients</h1></div>

  <div>
    <form method="POST">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {{ form.hidden_tag() }} {% for field in form if
      field.widget.input_type != 'hidden' %}
      <p>
        {{ field.label }} {{ field(class_="form-control") }} {% for error in
        field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
      </p>
      {% endfor %}
      <button>Submit</button>
    </form>
  </div>
  <a href="/">Go back</a>
</body>
{% endblock %}
